div{
    width: 20vw;
    height: 20vh;
    background-color: aliceblue;
}
body{
    background-color: #222;
}
p{
    color: whitesmoke;
}
.d1{
border: 3px red solid;
}
.d2{
border: 3px aqua ridge;
}
.d3{
    border: 3px #6dd97f outset;
}
.d4{
    border: 3px #d729ac inset;
}
.d5{
    border: 3px #e5ff00 groove;
}
.d6{
    border: 3px #00ff4c dotted;
}
.d7{
    border: 3px #1e00ff double;
}
